@import '@/styles/variables.scss';

.top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.create-product {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	background-color: $dark-100;
	transition: all .3s;
	&:hover {
		background-color: rgba($dark-100, .8);
	}

	svg {
		width: 20px;
		height: 20px;
	}
}
