@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.dropzone {
	@include screen-sm {
		width: 66%;
	}

	@include screen-md {
		width: 50%;
	}

	@include screen-lg {
		width: 40%;
	}
	@include screen-xl {
		width: 30%;
	}
}
