@import '@/styles/variables.scss';

.content {
	width: 100%;
	margin-bottom: 0.5rem;
	align-items: center;
	justify-content: space-between;
}
input.input {
	background-color: white;
	max-width: 12.5rem;
	border-radius: 0.5rem;
	border:none;
}

.button {
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.count {
	background-color: $dark-100;
	padding: 0.25rem 0.5rem;
	color:  $gray-800;
	border-radius:  0.25rem;

	user-select: none;

	&__wrapper {
		width: 100%;
		margin-block: 0.5rem;
		justify-content: flex-end;
	}
}
