@import '@/styles/mixins.scss';

.heading {
	font-weight: 500;
	color: $neutral-700;
	font-family: $font-poppins;
	font-style: normal;
	font-feature-settings:
		'clig' off,
		'liga' off;
}

.heading-3xl {
	@include adaptive-value('font-size', 72, 54);
	line-height: 100%;
	letter-spacing: -1.92px;
}
.heading-2xl {
	@include adaptive-value('font-size', 60, 45);
	line-height: 105%;
	letter-spacing: -3px;
}
.heading-xl {
	@include adaptive-value('font-size', 54, 40);
	line-height: 105%;
	letter-spacing: -2px;
}

.heading-lg {
	@include adaptive-value('font-size', 40, 30);
	line-height: 107%;
	letter-spacing: -1px;
}

.heading-md {
	@include adaptive-value('font-size', 30, 26);
	line-height: 110%;
	letter-spacing: -0.4px;
}
.heading-base {
	@include adaptive-value('font-size',26, 20);
	line-height: 112%;
	letter-spacing: -0.6px;
}

.heading-sm {
	@include adaptive-value('font-size', 20, 16);
	line-height: 121%; /* 121.429% */
	letter-spacing: -0.6px;
}

.heading-xs {
	@include adaptive-value('font-size', 16, 14);
	font-weight: 500;
	line-height: 140%;
}
